<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fly Me to the Moon</title>
    <!-- CSS file -->
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
    <!-- Header -->
    <div class="center">
        <h2>Fly Me to the Moon</h2>
    </div>
    
    <div class="right margin-right">
    <a href="/"><img src="Home_small.png" alt="Home"></a>
    <a href="/"> Home</a>
    </div>
    
    <div class="center">
        <form action="/sitePage1">
            <label for="search">Search for an airport: </label>
            <input type="text" id="airportSearch" name="airportSearch">
            <input type="submit" value="Submit">
        </form>
    </div>
    <p>&nbsp;</p>
    
    <!-- Body -->
    {{{body}}}

    <!-- JS file -->
    <script src="js\pageScript.js"></script>
</body>
</html>