<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fly Me to the Moon</title>
    <!-- CSS file -->
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
    <!-- Header -->
    <!-- Empty space to block off first 1/3 of width -->
    <div class="left">
        <h2></h2> 
    </div>
    
    <!-- Title -->
    <div class="center">
        <a name="top"></a>  <!-- anchor to top of page -->
        <h2>Fly Me to the Moon</h2>
    </div>
    
    <!-- Home link -->
    <div class="text-right right margin-right margin-top">
    <a href="/"><img src="Home_small.png" alt="Home"></a>
    <a href="/"> Home</a>
    </div>
    
    <!-- Empty space to block off first 1/3 of width -->
    <p>&nbsp;</p><br />
    <div class="left">
        <h2></h2>
    </div>

    <!-- Search box -->
    <div class="center">
        <form action="/sitePage1">
            <label for="search">Search for an airport: </label><br />
            <input type="text" id="airportSearch" name="airportSearch" placeholder="Search...">
            <button onclick="search()">Search</button>
        </form>
    </div>
    <p>&nbsp;</p>
    
    <!-- Body -->
    {{{body}}}

    <!-- JS file -->
    <script src="js\searchScript.js"></script>
</body>
</html>