<div class="logo">
    <p>&nbsp;</p>
    <a href="/sitePage2">
        <img src="BoeingWorld.png" alt="World Map">
    </a>
</div>

<div class="margin-left">
    <a href="/sitePage2">
        <span class="large-font">
            Browse Popular Airports in the US
        </span>
    </a>
    <br />
</div>
