<div class="center">
    <p>&nbsp;</p>
    <img src="BoeingWorld.png" alt="World Map">
</div>

<div class="margin-left">
    <a href="/sitePage1">Search Results</a><br />
    <a href="/sitePage2">Browse US States</a><br />
    <a href="/sitePage3">Data Page</a>
</div>
