<p>&nbsp;</p>
<div class="text-center">
    <h4>Select up to 3 airports to view and compare</h4>
</div>

<div class="margin-left">
    <h4>Search results:</h4>
    <br />
</div>


<!-- Results show here -->
<div class="margin-left">

    <input type="checkbox" id="searchR1" name="searchR1" value="Montgomery">
    <label for="searchR1">Montgomery Airport</label><br />
    <p>&nbsp;</p>
    
    <input type="checkbox" id="searchR2" name="searchR2" value="Huntsville">
    <label for="searchR2">Huntsville Airport</label><br />
    <p>&nbsp;</p>
    
    <input type="checkbox" id="searchR3" name="searchR3" value="Anchorage">
    <label for="searchR3">Anchorage Airport</label><br />
    <p>&nbsp;</p>
    
    <input type="checkbox" id="searchR4" name="searchR4" value="Fairbanks">
    <label for="searchR4">Fairbanks Airport</label><br />
    <p>&nbsp;</p>
</div>

<div class="center">
    <p>&nbsp;</p>
    <form action="/sitePage3">
        <input type="submit" value="Compare">
    </form>
    <p>&nbsp;</p>
</div>

<script src="js\searchResultsPage.js"></script>
