{{!-- Flexbox container to setup 3 boxes --}}
<div class="flexbox-container">
    
    {{!-- Airport 1 --}}
    <div class="flexbox-item">
        <h3 class="center">Airport 1</h3>
        {{!-- Grid container within flexbox --}}
        <div class="grid-container">
            
            {{!-- First row --}}
            {{!-- Stats --}}
            <div class="grid-item grid-inner-container">
                
                {{!-- Location --}}
                <div class="grid-inner-item">
                    Location: 
                </div>
                <div class="grid-inner-item">
                    Location Value 
                </div>
                
                {{!-- GPS --}}
                <div class="grid-inner-item">
                    GPS: 
                </div>
                <div class="grid-inner-item">
                    GPS Value 
                </div>

                {{!-- Elevation --}}
                <div class="grid-inner-item">
                    Elevation: 
                </div>
                <div class="grid-inner-item">
                    Elevation Value 
                </div>

                {{!-- Landing Fee --}}
                <div class="grid-inner-item">
                    Landing Fee: 
                </div>
                <div class="grid-inner-item">
                    LF Value [button]
                </div>

                {{!-- Traffic --}}
                <div class="grid-inner-item">
                    Traffic: 
                </div>
                <div class="grid-inner-item">
                    Traffic Value 
                </div>

            </div>
            
            {{!-- Photo --}}
            <div class="grid-item">
                Photo
            </div>

            {{!-- Second row --}}
            <div class="grid-full-column">
                Amenities
            </div>

            {{!-- Third row --}}            
            {{!-- Distance 1 --}}
            <div class="grid-item no-bottom-border no-right-border">
                Distance 1
            </div>
            <div class="grid-item no-bottom-border no-left-border">
                Distance 1 Value
            </div>
            
            {{!-- Distance 2 --}}
            <div class="grid-item no-top-border no-right-border">
                Distance 2
            </div>
            <div class="grid-item no-top-border no-left-border">
                Distance 2 Value
            </div>

            {{!-- Fourth row --}}
            <div class="grid-full-column">
                Airport info
            </div>
        {{!-- End grid container within flexbox --}}
        </div>
    {{!-- End Airport 1 --}}
    </div>

    {{!-- Airport 2 --}}
    <div class="flexbox-item">
        <h3 class="center">Airport 2</h3>
        {{!-- Grid container within flexbox --}}
        <div class="grid-container">
            
            {{!-- First row --}}
            {{!-- Stats --}}
            <div class="grid-item grid-inner-container">
                
                {{!-- Location --}}
                <div class="grid-inner-item">
                    Location: 
                </div>
                <div class="grid-inner-item">
                    Location Value 
                </div>
                
                {{!-- GPS --}}
                <div class="grid-inner-item">
                    GPS: 
                </div>
                <div class="grid-inner-item">
                    GPS Value 
                </div>

                {{!-- Elevation --}}
                <div class="grid-inner-item">
                    Elevation: 
                </div>
                <div class="grid-inner-item">
                    Elevation Value 
                </div>

                {{!-- Landing Fee --}}
                <div class="grid-inner-item">
                    Landing Fee: 
                </div>
                <div class="grid-inner-item">
                    LF Value [button]
                </div>

                {{!-- Traffic --}}
                <div class="grid-inner-item">
                    Traffic: 
                </div>
                <div class="grid-inner-item">
                    Traffic Value 
                </div>

            </div>
            
            {{!-- Photo --}}
            <div class="grid-item">
                Photo
            </div>

            {{!-- Second row --}}
            <div class="grid-full-column">
                Amenities
            </div>

            {{!-- Third row --}}            
            {{!-- Distance 1 --}}
            <div class="grid-item no-bottom-border no-right-border">
                Distance 1
            </div>
            <div class="grid-item no-bottom-border no-left-border">
                Distance 1 Value
            </div>
            
            {{!-- Distance 2 --}}
            <div class="grid-item no-top-border no-right-border">
                Distance 2
            </div>
            <div class="grid-item no-top-border no-left-border">
                Distance 2 Value
            </div>

            {{!-- Fourth row --}}
            <div class="grid-full-column">
                Airport info
            </div>
        {{!-- End grid container within flexbox --}}
        </div>
    {{!-- End Airport 2 --}}
    </div>

    {{!-- Airport 3 --}}
    <div class="flexbox-item">
        <h3 class="center">Airport 3</h3>
        {{!-- Grid container within flexbox --}}
        <div class="grid-container">
            
            {{!-- First row --}}
            {{!-- Stats --}}
            <div class="grid-item grid-inner-container">
                
                {{!-- Location --}}
                <div class="grid-inner-item">
                    Location: 
                </div>
                <div class="grid-inner-item">
                    Location Value 
                </div>
                
                {{!-- GPS --}}
                <div class="grid-inner-item">
                    GPS: 
                </div>
                <div class="grid-inner-item">
                    GPS Value 
                </div>

                {{!-- Elevation --}}
                <div class="grid-inner-item">
                    Elevation: 
                </div>
                <div class="grid-inner-item">
                    Elevation Value 
                </div>

                {{!-- Landing Fee --}}
                <div class="grid-inner-item">
                    Landing Fee: 
                </div>
                <div class="grid-inner-item">
                    LF Value [button]
                </div>

                {{!-- Traffic --}}
                <div class="grid-inner-item">
                    Traffic: 
                </div>
                <div class="grid-inner-item">
                    Traffic Value 
                </div>

            </div>
            
            {{!-- Photo --}}
            <div class="grid-item">
                Photo
            </div>

            {{!-- Second row --}}
            <div class="grid-full-column">
                Amenities
            </div>

            {{!-- Third row --}}            
            {{!-- Distance 1 --}}
            <div class="grid-item no-bottom-border no-right-border">
                Distance 1
            </div>
            <div class="grid-item no-bottom-border no-left-border">
                Distance 1 Value
            </div>
            
            {{!-- Distance 2 --}}
            <div class="grid-item no-top-border no-right-border">
                Distance 2
            </div>
            <div class="grid-item no-top-border no-left-border">
                Distance 2 Value
            </div>

            {{!-- Fourth row --}}
            <div class="grid-full-column">
                Airport info
            </div>
        {{!-- End grid container within flexbox --}}
        </div>
    {{!-- End Airport 3 --}}
    </div>

{{!-- End flexbox container --}}
</div>
