<div class="center">
<h4>Browse Popular US Airports</h4>
<p>&nbsp;</p>
</div>

<div class="margin-left">
    <p>Jump to a state: 
        <a href="#stateA">A</a>
        <a href="#stateC">C</a>
        <a href="/sitePage1">D</a>
        <a href="/sitePage1">F</a>
        <a href="/sitePage1">G</a>
        <a href="/sitePage1">H</a>
        <a href="/sitePage1">I</a>
        <a href="/sitePage1">K</a>
        <a href="/sitePage1">L</a>
        <a href="/sitePage1">M</a>
        <a href="/sitePage1">N</a>
        <a href="/sitePage1">O</a>
        <a href="/sitePage1">P</a>
        <a href="/sitePage1">R</a>
        <a href="/sitePage1">S</a>
        <a href="/sitePage1">T</a>
        <a href="/sitePage1">U</a>
        <a href="/sitePage1">V</a>
        <a href="/sitePage1">W</a>
    </p>
    <p>&nbsp;</p>
</div>

<div class="margin-left">
    <a name="stateA"><h4>A</h4></a><br />

    <a href="/sitePage1">Alabama</a><br /><br />
    <input type="checkbox" id="Alabama1" name="Alabama1" value="Montgomery">
    <label for="Alabama1">Montgomery Airport</label><br />
    <input type="checkbox" id="Alabama2" name="Alabama2" value="Huntsville">
    <label for="Alabama2">Huntsville Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Alaska</a><br /><br />
    <input type="checkbox" id="Alaska1" name="Alaska1" value="Anchorage">
    <label for="Alaska1">Anchorage Airport</label><br />
    <input type="checkbox" id="Alaska2" name="Alaska2" value="Fairbanks">
    <label for="Alaska2">Fairbanks Airport</label><br />
    <p>&nbsp;</p>
</div>

<div class="margin-left">
    <a name="stateC"><h4>C</h4></a><br />

    <a href="/sitePage1">Colorado</a><br /><br />
    <input type="checkbox" id="Colorado" name="Colorado1" value="Colorado1">
    <label for="Colorado1">Colorado Airport</label><br />
    <input type="checkbox" id="Colorado2" name="Colorado2" value="Colorado2">
    <label for="Colorado2">Colorado Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Connecticut</a><br /><br />
    <input type="checkbox" id="Connecticut1" name="Connecticut1" value="Connecticut1">
    <label for="Connecticut1">Connecticut1 Airport</label><br />
    <input type="checkbox" id="Connecticut2" name="Connecticut2" value="Connecticut2">
    <label for="Connecticut2">Connecticut2 Airport</label><br />
    <p>&nbsp;</p>
</div>

<div class="center">
    <p>&nbsp;</p>
    <input type="submit" value="Compare">
</div>