<div class="center">
<h4>Browse Popular US Airports</h4>
<p>&nbsp;</p>
</div>

<div class="margin-left">
    <p>Jump to a state: 
        <a href="/sitePage1">A</a>
        <a href="/sitePage1">C</a>
        <a href="/sitePage1">D</a>
        <a href="/sitePage1">F</a>
        <a href="/sitePage1">G</a>
        <a href="/sitePage1">H</a>
        <a href="/sitePage1">I</a>
        <a href="/sitePage1">K</a>
        <a href="/sitePage1">L</a>
        <a href="/sitePage1">M</a>
        <a href="/sitePage1">N</a>
        <a href="/sitePage1">O</a>
        <a href="/sitePage1">P</a>
        <a href="/sitePage1">R</a>
        <a href="/sitePage1">S</a>
        <a href="/sitePage1">T</a>
        <a href="/sitePage1">U</a>
        <a href="/sitePage1">V</a>
        <a href="/sitePage1">W</a>
    </p>
    <p>&nbsp;</p>
</div>

<div class="margin-left">
    <h4>A</h4><br />

    <a href="/sitePage1">Alabama</a><br /><br />
    <input type="checkbox" id="Alabama1" name="Alabama1" value="Montgomery">
    <label for="Alabama1">Montgomery Airport</label><br />
    <input type="checkbox" id="Alabama2" name="Alabama2" value="Huntsville">
    <label for="Alabama2">Huntsville Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Alaska</a><br /><br />
    <input type="checkbox" id="Alaska1" name="Alaska1" value="Anchorage">
    <label for="Alaska1">Anchorage Airport</label><br />
    <input type="checkbox" id="Alaska2" name="Alaska2" value="Fairbanks">
    <label for="Alaska2">Fairbanks Airport</label><br />
    <p>&nbsp;</p>
</div>

<div class="center">
    <p>&nbsp;</p>
    <input type="submit" value="Compare">
</div>