<p>&nbsp;</p>
<div class="text-center">
    <h4>Select up to 3 airports to view and compare</h4>
</div>

<div class="text-center sticky">
    <p>&nbsp;</p>
    {{!-- <form action="/sitePage3"> --}}
        {{!-- <input type="submit" value="Compare"> --}}
    {{!-- </form> --}}
    <button onclick="compare()">Compare</button>
</div>

<div class="margin-left">
    <h4>Search results:</h4>
    <br />
</div>

<!-- Results show here -->
<div class="margin-left">
    {{#each airports}}
    <input type="checkbox" id="searchR1" name="searchR1" value="Montgomery">
    <label for="searchR1">{{name}}</label><br />
    <p>&nbsp;</p>
    {{/each}}
</div>

<div class="text-center sticky">
    <form action="#top">
        <input type="submit" value="Top of page">
    </form>
    <p>&nbsp;</p>
</div>

<script src="js\searchResultsPage.js"></script>
