<div class="text-center">
    <p>&nbsp;</p>
    <h4>Browse Popular US Airports</h4>
</div>

<div class="margin-left">
    <p>Jump to a state: 
        <a href="#stateA">A</a>
        <a href="#stateC">C</a>
        <a href="#stateD">D</a>
        <a href="#stateF">F</a>
        <a href="#stateG">G</a>
        <a href="#stateH">H</a>
        <a href="#stateI">I</a>
        <a href="#stateK">K</a>
        <a href="#stateL">L</a>
        <a href="#stateM">M</a>
        <a href="#stateN">N</a>
        <a href="#stateO">O</a>
        <a href="#stateP">P</a>
        <a href="#stateR">R</a>
        <a href="#stateS">S</a>
        <a href="#stateT">T</a>
        <a href="#stateU">U</a>
        <a href="#stateV">V</a>
        <a href="#stateW">W</a>
    </p>
    <p>&nbsp;</p>
</div>

{{!-- A --}}
<div class="margin-left">
    <a name="stateA"><h4>A</h4></a><br />

    <a href="/sitePage1">Alabama</a><br /><br />
    <input type="checkbox" id="Alabama1" name="Alabama1" value="Montgomery">
    <label for="Alabama1">Montgomery Airport</label><br />
    <input type="checkbox" id="Alabama2" name="Alabama2" value="Huntsville">
    <label for="Alabama2">Huntsville Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Alaska</a><br /><br />
    <input type="checkbox" id="Alaska1" name="Alaska1" value="Anchorage">
    <label for="Alaska1">Anchorage Airport</label><br />
    <input type="checkbox" id="Alaska2" name="Alaska2" value="Fairbanks">
    <label for="Alaska2">Fairbanks Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Arizona</a><br /><br />
    <input type="checkbox" id="Arizona1" name="Arizona1" value="Montgomery">
    <label for="Arizona1">Montgomery Airport</label><br />
    <input type="checkbox" id="Arizona2" name="Arizona2" value="Huntsville">
    <label for="Arizona2">Huntsville Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Arkansas</a><br /><br />
    <input type="checkbox" id="Arkansas1" name="Arkansas1" value="Anchorage">
    <label for="Arkansas1">Anchorage Airport</label><br />
    <input type="checkbox" id="Arkansas2" name="Arkansas2" value="Fairbanks">
    <label for="Arkansas2">Fairbanks Airport</label><br />
    <p>&nbsp;</p>

</div>

{{!-- C --}}
<div class="margin-left">
    <a name="stateC"><h4>C</h4></a><br />

    <a href="/sitePage1">California</a><br /><br />
    <input type="checkbox" id="California1" name="California1" value="California1">
    <label for="California1">California1 Airport</label><br />
    <input type="checkbox" id="California2" name="California2" value="California2">
    <label for="California2">California2 Airport</label><br />
    <p>&nbsp;</p>

    <a href="/sitePage1">Colorado</a><br /><br />
    <input type="checkbox" id="Colorado1" name="Colorado1" value="Colorado1">
    <label for="Colorado1">Colorado1 Airport</label><br />
    <input type="checkbox" id="Colorado2" name="Colorado2" value="Colorado2">
    <label for="Colorado2">Colorado2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Connecticut</a><br /><br />
    <input type="checkbox" id="Connecticut1" name="Connecticut1" value="Connecticut1">
    <label for="Connecticut1">Connecticut1 Airport</label><br />
    <input type="checkbox" id="Connecticut2" name="Connecticut2" value="Connecticut2">
    <label for="Connecticut2">Connecticut2 Airport</label><br />
    <p>&nbsp;</p>
</div>

{{!-- D --}}
<div class="margin-left">
    <a name="stateD"><h4>D</h4></a><br />

    <a href="/sitePage1">Deleware</a><br /><br />
    <input type="checkbox" id="Deleware1" name="Deleware1" value="Deleware1">
    <label for="Deleware1">Deleware1 Airport</label><br />
    <input type="checkbox" id="Deleware2" name="Deleware2" value="Deleware2">
    <label for="Deleware2">Deleware2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- F --}}
<div class="margin-left">
    <a name="stateF"><h4>F</h4></a><br />

    <a href="/sitePage1">Florida</a><br /><br />
    <input type="checkbox" id="Florida1" name="Florida1" value="Florida1">
    <label for="Florida1">Florida1 Airport</label><br />
    <input type="checkbox" id="Florida2" name="Florida2" value="Florida2">
    <label for="Florida2">Florida2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- G --}}
<div class="margin-left">
    <a name="stateG"><h4>G</h4></a><br />

    <a href="/sitePage1">Georgia</a><br /><br />
    <input type="checkbox" id="Georgia1" name="Georgia1" value="Georgia1">
    <label for="Georgia1">Georgia1 Airport</label><br />
    <input type="checkbox" id="Georgia2" name="Georgia2" value="Georgia2">
    <label for="Georgia2">Georgia2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- H --}}
<div class="margin-left">
    <a name="stateH"><h4>G</h4></a><br />

    <a href="/sitePage1">Hawaii</a><br /><br />
    <input type="checkbox" id="Hawaii1" name="Hawaii1" value="Hawaii1">
    <label for="Hawaii1">Hawaii1 Airport</label><br />
    <input type="checkbox" id="Hawaii2" name="Hawaii2" value="Hawaii2">
    <label for="Hawaii2">Hawaii2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- I --}}
<div class="margin-left">
    <a name="stateI"><h4>I</h4></a><br />

    <a href="/sitePage1">Idaho</a><br /><br />
    <input type="checkbox" id="Idaho1" name="Idaho1" value="Idaho1">
    <label for="Idaho1">Idaho1 Airport</label><br />
    <input type="checkbox" id="Idaho2" name="Idaho2" value="Idaho2">
    <label for="Idaho2">Idaho2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Illinois</a><br /><br />
    <input type="checkbox" id="Illinois1" name="Illinois1" value="Illinois1">
    <label for="Illinois1">Illinois1 Airport</label><br />
    <input type="checkbox" id="Illinois2" name="Illinois2" value="Illinois2">
    <label for="Illinois2">Illinois2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Indiana</a><br /><br />
    <input type="checkbox" id="Indiana1" name="Indiana1" value="Indiana1">
    <label for="Indiana1">Indiana1 Airport</label><br />
    <input type="checkbox" id="Indiana2" name="Indiana2" value="Indiana2">
    <label for="Indiana2">Indiana2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Iowa</a><br /><br />
    <input type="checkbox" id="Iowa1" name="Iowa1" value="Iowa1">
    <label for="Iowa1">Iowa1 Airport</label><br />
    <input type="checkbox" id="Iowa2" name="Iowa2" value="Iowa2">
    <label for="Iowa2">Iowa2 Airport</label><br />
    <p>&nbsp;</p>

</div>

{{!-- K --}}
<div class="margin-left">
    <a name="stateK"><h4>K</h4></a><br />

    <a href="/sitePage1">Kansas</a><br /><br />
    <input type="checkbox" id="Kansas1" name="Kansas1" value="Kansas1">
    <label for="Kansas1">Kansas1 Airport</label><br />
    <input type="checkbox" id="Kansas2" name="Kansas2" value="Kansas2">
    <label for="Kansas2">Kansas2 Airport</label><br />
    <p>&nbsp;</p>

    <a href="/sitePage1">Kentucky</a><br /><br />
    <input type="checkbox" id="Kentucky1" name="Kentucky1" value="Kentucky1">
    <label for="Kentucky1">Kentucky1 Airport</label><br />
    <input type="checkbox" id="Kentucky2" name="Kentucky2" value="Kentucky2">
    <label for="Kentucky2">Kentucky2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- L --}}
<div class="margin-left">
    <a name="stateL"><h4>G</h4></a><br />

    <a href="/sitePage1">Louisiana</a><br /><br />
    <input type="checkbox" id="Louisiana1" name="Louisiana1" value="Louisiana1">
    <label for="Louisiana1">Louisiana1 Airport</label><br />
    <input type="checkbox" id="Louisiana2" name="Louisiana2" value="Louisiana2">
    <label for="Louisiana2">Louisiana2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- M --}}
<div class="margin-left">
    <a name="stateI"><h4>M</h4></a><br />

    <a href="/sitePage1">Maine</a><br /><br />
    <input type="checkbox" id="Maine1" name="Maine1" value="Maine1">
    <label for="Maine1">Maine1 Airport</label><br />
    <input type="checkbox" id="Maine2" name="Maine2" value="Maine2">
    <label for="Maine2">Maine2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Maryland</a><br /><br />
    <input type="checkbox" id="Maryland1" name="Maryland1" value="Maryland1">
    <label for="Maryland1">Maryland1 Airport</label><br />
    <input type="checkbox" id="Maryland2" name="Maryland2" value="Maryland2">
    <label for="Maryland2">Maryland2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Massachusetts</a><br /><br />
    <input type="checkbox" id="Massachusetts1" name="Massachusetts1" value="Massachusetts1">
    <label for="Massachusetts1">Massachusetts1 Airport</label><br />
    <input type="checkbox" id="Massachusetts2" name="Massachusetts2" value="Massachusetts2">
    <label for="Massachusetts2">Massachusetts2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Michigan</a><br /><br />
    <input type="checkbox" id="Michigan1" name="Michigan1" value="Michigan1">
    <label for="Michigan1">Michigan1 Airport</label><br />
    <input type="checkbox" id="Michigan2" name="Michigan2" value="Michigan2">
    <label for="Michigan2">Michigan2 Airport</label><br />
    <p>&nbsp;</p>

    <a href="/sitePage1">Minnesota</a><br /><br />
    <input type="checkbox" id="Minnesota1" name="Minnesota1" value="Minnesota1">
    <label for="Minnesota1">Minnesota1 Airport</label><br />
    <input type="checkbox" id="Minnesota2" name="Minnesota2" value="Minnesota2">
    <label for="Minnesota2">Minnesota2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Mississippi</a><br /><br />
    <input type="checkbox" id="Mississippi1" name="Mississippi1" value="Mississippi1">
    <label for="Mississippi1">Mississippi1 Airport</label><br />
    <input type="checkbox" id="Mississippi2" name="Mississippi2" value="Mississippi2">
    <label for="Mississippi2">Mississippi2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Missouri</a><br /><br />
    <input type="checkbox" id="Missouri1" name="Missouri1" value="Missouri1">
    <label for="Missouri1">Missouri1 Airport</label><br />
    <input type="checkbox" id="Missouri2" name="Missouri2" value="Missouri2">
    <label for="Missouri2">Missouri2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Montana</a><br /><br />
    <input type="checkbox" id="Montana1" name="Montana1" value="Montana1">
    <label for="Montana1">Montana1 Airport</label><br />
    <input type="checkbox" id="Montana2" name="Montana2" value="Montana2">
    <label for="Montana2">Montana2 Airport</label><br />
    <p>&nbsp;</p>

</div>


{{!-- N --}}
<div class="margin-left">
    <a name="stateI"><h4>M</h4></a><br />

    <a href="/sitePage1">Nebraska</a><br /><br />
    <input type="checkbox" id="Nebraska1" name="Nebraska1" value="Nebraska1">
    <label for="Nebraska1">Nebraska1 Airport</label><br />
    <input type="checkbox" id="Nebraska2" name="Nebraska2" value="Nebraska2">
    <label for="Nebraska2">Nebraska2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Nevada</a><br /><br />
    <input type="checkbox" id="Nevada1" name="Nevada1" value="Nevada1">
    <label for="Nevada1">Nevada1 Airport</label><br />
    <input type="checkbox" id="Nevada2" name="Nevada2" value="Nevada2">
    <label for="Nevada2">Nevada2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">New Hampshire</a><br /><br />
    <input type="checkbox" id="New_Hampshire1" name="New_Hampshire1" value="New_Hampshire1">
    <label for="New_Hampshire1">New_Hampshire1 Airport</label><br />
    <input type="checkbox" id="New_Hampshire2" name="New_Hampshire2" value="New_Hampshire2">
    <label for="New_Hampshire2">New_Hampshire2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">New Jersey</a><br /><br />
    <input type="checkbox" id="New_Jersey1" name="New_Jersey1" value="New_Jersey1">
    <label for="New_Jersey1">New_Jersey1 Airport</label><br />
    <input type="checkbox" id="New_Jersey2" name="New_Jersey2" value="New_Jersey2">
    <label for="New_Jersey2">New_Jersey2 Airport</label><br />
    <p>&nbsp;</p>

    <a href="/sitePage1">New Mexico</a><br /><br />
    <input type="checkbox" id="New_Mexico1" name="New_Mexico1" value="New_Mexico1">
    <label for="New_Mexico1">New_Mexico1 Airport</label><br />
    <input type="checkbox" id="New_Mexico2" name="New_Mexico2" value="New_Mexico2">
    <label for="New_Mexico2">New_Mexico2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">New York</a><br /><br />
    <input type="checkbox" id="New_York1" name="New_York1" value="New_York1">
    <label for="New_York1">New_York1 Airport</label><br />
    <input type="checkbox" id="New_York2" name="New_York2" value="New_York2">
    <label for="New_York2">New_York2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">North Carolina</a><br /><br />
    <input type="checkbox" id="North_Carolina1" name="North_Carolina1" value="North_Carolina1">
    <label for="North_Carolina1">North_Carolina1 Airport</label><br />
    <input type="checkbox" id="North_Carolina2" name="North_Carolina2" value="North_Carolina2">
    <label for="North_Carolina2">North_Carolina2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">North Dakota</a><br /><br />
    <input type="checkbox" id="North_Dakota1" name="North_Dakota1" value="North_Dakota1">
    <label for="North_Dakota1">North_Dakota1 Airport</label><br />
    <input type="checkbox" id="North_Dakota2" name="North_Dakota2" value="North_Dakota2">
    <label for="North_Dakota2">North_Dakota2 Airport</label><br />
    <p>&nbsp;</p>

</div>

{{!-- O --}}
<div class="margin-left">
    <a name="stateC"><h4>C</h4></a><br />

    <a href="/sitePage1">California</a><br /><br />
    <input type="checkbox" id="California1" name="California1" value="California1">
    <label for="California1">California1 Airport</label><br />
    <input type="checkbox" id="California2" name="California2" value="California2">
    <label for="California2">California2 Airport</label><br />
    <p>&nbsp;</p>

    <a href="/sitePage1">Colorado</a><br /><br />
    <input type="checkbox" id="Colorado1" name="Colorado1" value="Colorado1">
    <label for="Colorado1">Colorado1 Airport</label><br />
    <input type="checkbox" id="Colorado2" name="Colorado2" value="Colorado2">
    <label for="Colorado2">Colorado2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Connecticut</a><br /><br />
    <input type="checkbox" id="Connecticut1" name="Connecticut1" value="Connecticut1">
    <label for="Connecticut1">Connecticut1 Airport</label><br />
    <input type="checkbox" id="Connecticut2" name="Connecticut2" value="Connecticut2">
    <label for="Connecticut2">Connecticut2 Airport</label><br />
    <p>&nbsp;</p>
</div>

{{!-- P --}}
<div class="margin-left">
    <a name="stateL"><h4>G</h4></a><br />

    <a href="/sitePage1">Louisiana</a><br /><br />
    <input type="checkbox" id="Louisiana1" name="Louisiana1" value="Louisiana1">
    <label for="Louisiana1">Louisiana1 Airport</label><br />
    <input type="checkbox" id="Louisiana2" name="Louisiana2" value="Louisiana2">
    <label for="Louisiana2">Louisiana2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- R --}}
<div class="margin-left">
    <a name="stateL"><h4>G</h4></a><br />

    <a href="/sitePage1">Louisiana</a><br /><br />
    <input type="checkbox" id="Louisiana1" name="Louisiana1" value="Louisiana1">
    <label for="Louisiana1">Louisiana1 Airport</label><br />
    <input type="checkbox" id="Louisiana2" name="Louisiana2" value="Louisiana2">
    <label for="Louisiana2">Louisiana2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- S --}}
<div class="margin-left">
    <a name="stateK"><h4>K</h4></a><br />

    <a href="/sitePage1">Kansas</a><br /><br />
    <input type="checkbox" id="Kansas1" name="Kansas1" value="Kansas1">
    <label for="Kansas1">Kansas1 Airport</label><br />
    <input type="checkbox" id="Kansas2" name="Kansas2" value="Kansas2">
    <label for="Kansas2">Kansas2 Airport</label><br />
    <p>&nbsp;</p>

    <a href="/sitePage1">Kentucky</a><br /><br />
    <input type="checkbox" id="Kentucky1" name="Kentucky1" value="Kentucky1">
    <label for="Kentucky1">Kentucky1 Airport</label><br />
    <input type="checkbox" id="Kentucky2" name="Kentucky2" value="Kentucky2">
    <label for="Kentucky2">Kentucky2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- T --}}
<div class="margin-left">
    <a name="stateK"><h4>K</h4></a><br />

    <a href="/sitePage1">Kansas</a><br /><br />
    <input type="checkbox" id="Kansas1" name="Kansas1" value="Kansas1">
    <label for="Kansas1">Kansas1 Airport</label><br />
    <input type="checkbox" id="Kansas2" name="Kansas2" value="Kansas2">
    <label for="Kansas2">Kansas2 Airport</label><br />
    <p>&nbsp;</p>

    <a href="/sitePage1">Kentucky</a><br /><br />
    <input type="checkbox" id="Kentucky1" name="Kentucky1" value="Kentucky1">
    <label for="Kentucky1">Kentucky1 Airport</label><br />
    <input type="checkbox" id="Kentucky2" name="Kentucky2" value="Kentucky2">
    <label for="Kentucky2">Kentucky2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- U --}}
<div class="margin-left">
    <a name="stateL"><h4>G</h4></a><br />

    <a href="/sitePage1">Louisiana</a><br /><br />
    <input type="checkbox" id="Louisiana1" name="Louisiana1" value="Louisiana1">
    <label for="Louisiana1">Louisiana1 Airport</label><br />
    <input type="checkbox" id="Louisiana2" name="Louisiana2" value="Louisiana2">
    <label for="Louisiana2">Louisiana2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- V --}}
<div class="margin-left">
    <a name="stateK"><h4>K</h4></a><br />

    <a href="/sitePage1">Kansas</a><br /><br />
    <input type="checkbox" id="Kansas1" name="Kansas1" value="Kansas1">
    <label for="Kansas1">Kansas1 Airport</label><br />
    <input type="checkbox" id="Kansas2" name="Kansas2" value="Kansas2">
    <label for="Kansas2">Kansas2 Airport</label><br />
    <p>&nbsp;</p>

    <a href="/sitePage1">Kentucky</a><br /><br />
    <input type="checkbox" id="Kentucky1" name="Kentucky1" value="Kentucky1">
    <label for="Kentucky1">Kentucky1 Airport</label><br />
    <input type="checkbox" id="Kentucky2" name="Kentucky2" value="Kentucky2">
    <label for="Kentucky2">Kentucky2 Airport</label><br />
    <p>&nbsp;</p>
    
</div>

{{!-- W --}}
<div class="margin-left">
    <a name="stateW"><h4>I</h4></a><br />

    <a href="/sitePage1">Idaho</a><br /><br />
    <input type="checkbox" id="Idaho1" name="Idaho1" value="Idaho1">
    <label for="Idaho1">Idaho1 Airport</label><br />
    <input type="checkbox" id="Idaho2" name="Idaho2" value="Idaho2">
    <label for="Idaho2">Idaho2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Illinois</a><br /><br />
    <input type="checkbox" id="Illinois1" name="Illinois1" value="Illinois1">
    <label for="Illinois1">Illinois1 Airport</label><br />
    <input type="checkbox" id="Illinois2" name="Illinois2" value="Illinois2">
    <label for="Illinois2">Illinois2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Indiana</a><br /><br />
    <input type="checkbox" id="Indiana1" name="Indiana1" value="Indiana1">
    <label for="Indiana1">Indiana1 Airport</label><br />
    <input type="checkbox" id="Indiana2" name="Indiana2" value="Indiana2">
    <label for="Indiana2">Indiana2 Airport</label><br />
    <p>&nbsp;</p>
    
    <a href="/sitePage1">Iowa</a><br /><br />
    <input type="checkbox" id="Iowa1" name="Iowa1" value="Iowa1">
    <label for="Iowa1">Iowa1 Airport</label><br />
    <input type="checkbox" id="Iowa2" name="Iowa2" value="Iowa2">
    <label for="Iowa2">Iowa2 Airport</label><br />
    <p>&nbsp;</p>

</div>

<div class="center">
    <p>&nbsp;</p>
    <form action="/sitePage3">
        <input type="submit" value="Compare">
    </form>
    <p>&nbsp;</p>
</div>

<script src="js\searchPage.js"></script>
