.center {
    float: left;
    width: 33%;
    text-align: center;
}

.center2 {
    display: block;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.margin-left {
    margin-left: 3%;
}

.margin-right {
    margin-right: 3%;
}

.margin-top {
    margin-top: 1%;
}

.left {
    float: left;
    width: 34%;
    text-align: left;
}

.right {
    float: left;
    width: 30%;
    text-align: right;
}

.float-right {
    float: right;
}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flexbox-item {
    max-width: 30%;
    min-height: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 2px solid black;
}

.grid-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.grid-full-column {
    grid-column-end: span 2;
    padding: 1%;
    border: 2px solid black;
}

.grid-inner-full-column {
    grid-column-end: span 2;
}

.grid-item {
    padding: 2%;
    border: 2px solid black;
}

.no-bottom-border {
    border-bottom: none;
}

.no-top-border {
    border-top: none;
}

.no-right-border {
    border-right: none;
}

.no-left-border {
    border-left: none;
}

.logo {
    margin-left: 20%;
    margin-right: auto;
}

.large-font{
    font-size: large;
}

.sticky {
    position: sticky;
    top: 0;
    bottom: 0;
}
