.center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.margin-left {
    margin-left: 50px;
}

.margin-right {
    margin-right: 50px;
}

.left {
    margin: left;
}

.right {
    float: right;
}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
}

.flexbox-item {
    width: 30%;
    min-height: 100px;
    /* border: 2px dashed black; */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 2px solid black;
}

.grid-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.grid-full-column {
    grid-column-end: span 2;
    padding: 1%;
    border: 2px solid black;
}

.grid-item {
    padding: 2%;
    border: 2px solid black;
}

.no-bottom-border {
    border-bottom: none;
}

.no-top-border {
    border-top: none;
}

.no-right-border {
    border-right: none;
}

.no-left-border {
    border-left: none;
}
